body {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(images/Banner-AP.png);
    background-size: 100% 100%;
    height: 250px;
    position: relative;
}

.name {
    margin: 0px;
    font-variant: small-caps;
    position: absolute;
    left: 200px;
    top: 70px;
}

.name>.company {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 15px yellow;
    padding-bottom: 5px;
}

.name>.solgan {
    font-size: 30px;
    color: yellow;
    opacity: 60%;
    position: absolute;
    left: 50px;
}

.account {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 51, 0);
    opacity: 60%;
    border-bottom-left-radius: 15px;
}

.account>div {
    font-variant: small-caps;
    font-size: 15px;
    float: left;
    color: white;
    padding: 10px;

}

.account>div:hover {
    color: rgb(255, 51, 0);
    background-color: white;
    padding: 10px;
}

.account>.d1:hover {
    border-bottom-left-radius: 15px;
}

.menu-nav>ul>li {
    display: inline-block;
    position: relative;
}

.menu-nav>ul>li>a {
    display: block;
}

.menu-nav>ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
}

.menu-nav>ul>li>a {
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 15px 30px;
}

.menu-nav>ul>li>a:hover {
    color: orange;
    background-color: white;
    padding: 15px 30px;
}

.menu-con {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

.menu-con a {
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    text-align: left;
    padding: 10px;
}

.menu-nav li:hover>.menu-con {
    display: block;
}

.menu-nav ul ul a:hover {
    background-color: orangered;
    color: white
}

article {
    max-width: 80%;
    min-height: 400px;
    background-color: yellowgreen;
    float: left;
}

aside {
    width: 20%;
    min-height: 400px;
    float: right;
}

aside ul{
    list-style: none;
    padding: 0px;
    width: 300px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 3px;
}

aside a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: orangered;
    font-variant: small-caps;
    text-decoration: none;
    display: block; 
    padding: 8px 5px 8px 30px; 
    border-bottom: 1px dotted orangered;
    background: url(images/icon/1.png) no-repeat 10px;
    background-size: 12px;
}

aside a:hover{ 
    background: url(images/icon/2.png) no-repeat 10px;
    background-size: 12px;
    background-color: orangered;
    color: white;    
    padding: 8px 5px 8px 30px;    
}

footer {
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
    padding: 10px;
}