hr.opacity-10 {
    opacity: 0.1;
}

h8 {
    font-size: 14px;
}

/* Navigation */
/* li.nav-item {
    cursor: pointer;
} */

ul.dropdown-menu {
    box-shadow: 2px 2px 5px gray;
}

li:focus>a.dropdown-item,
li:hover>a.dropdown-item {
    color: white;
    background-color: red;
}

/* Progress */
.row>ul.list-group:first-child>.list-group-item:nth-child(1) {
    background-color: orangered;
    color: white;
}

.row>ul.list-group:nth-child(2)>.list-group-item:nth-child(1) {
    background-color: green;
    color: white;
}

.row>ul.list-group:last-child>.list-group-item:nth-child(1) {
    background-color: orange;
    color: white;
}